@import "tailwindcss";
@import "primeicons/primeicons.css";

:root {
  --color-primary: #1e3a8a;
  --color-primary-medium: #3b82f6;
  --color-primary-light: #dbeafe;
  --color-text-dark: #1e293b;
  --color-success: #166534;
  --color-success-bg: #dcfce7;
  --color-error: #991b1b;
  --color-error-bg: #fee2e2;
  --color-warning: #92400e;
  --color-warning-bg: #fef3c7;
}

body {
  background-color: #f8fafc;
  color: var(--color-text-dark);
  font-family: Inter, Arial, Helvetica, sans-serif;
}
